

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  flex: 0 0 100%;

  section {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    
    .productMenuWrap {
      height: 300px;
      width: 300px;
      display: flex;
      flex-direction: row;
      flex: 0 0 45%;
      align-items: center;
      box-sizing: border-box;
      margin: 0.5rem;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      
  
      .pdtMenu {
        display: flex;
        background-color: aliceblue;
        height: 50px;
        width: 100px;
        justify-content: center;
        align-items: center;
      }
      .attrValueClass {
        display: flex;
        padding: 0.5rem;
        flex-basis: 100%;
      }
    }
  } 
}